<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>Home</h3>
<form th:action="@{/login}" method="post" th:object="${login}">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td><label>Account:</label></td>
                <td><input type="text" name="account"/></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login"/></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>